# Ignore node_modules in both frontend and backend
book-exchange-backend/node_modules/
book-exchange-frontend/node_modules/

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build output
dist/
build/

# Ignore environment variables
book-exchange-backend/.env
book-exchange-frontend/.env

# Ignore IDE and OS specific files
.DS_Store
*.swp
*.swo
.vscode/
.idea/
*.iml

# Ignore TypeScript build output
*.tsbuildinfo

# Ignore miscellaneous
*.log
